@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --pizza-red: #b52a04;
  --pizza-orange: #fb8b23;
  --pizza-tan: #fbbf58;
  --pizza-white: #f8efd9;
  --pizza-green: #7ea92c;
  --pizza-peach: #facd8e;
}

body,
button,
input {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  margin: 0;
  background-color: var(--pizza-red);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fuzzy Bubbles", serif;
  text-transform: uppercase;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
